.header {
  width: 100%;
  height: 70px;
  border-bottom: solid black 1px;
  .headerInner {
    width: 800px;
    height: 70px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .logo {
      font-size: 24px;
      a {
        color: black;
        text-decoration: none;
      }
    }
  }
}

@media (width <= 800px){
  .header{
    width: 100%;
    height: 40px;
    .headerInner{
      width: 85%;
      height: 40px;
      .logo{
        font-size: 20px;
      }
    }
  }
}