@import url("https://fonts.googleapis.com/css2?family=family=Sawarabi+Gothic&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Sawarabi Gothic", sans-serif;
  font-weight: 400;
  font-style: normal;
  vertical-align: bottom;
}

main {
  width: 800px;
  margin: 30px auto 80px auto;
}

@media (width <= 800px){
  main{
    width: 95%;
  }
}